body {
  font-family: monospace;
  font-size: 16px;
}
.my-cookie-wrapper {
  padding: 5px;
  border: 1px dashed gray;
  position: relative;
  width: 90%;
  height: 150px;
}
h3 {
  margin: 0;
}
.my-cookie {
  position: relative;
  margin: 0 auto;
  font-size: 1.5rem;
  width: 50px;
  top: 40px;
}
